@import "default/mixin";
@import "default/variable";
/*=================================
  Banner styling starts here
=================================*/
.banner{
&{
    position: relative;
}

& .wrapper{
    width: 100%;
    height: 121vh;
}

&-image{
    @include height-obj;
    @include position-top(absolute,1,0,0);
}

&-content{
   &{ 
    width: 37%;
    @include position-top(absolute,2,48.6%,76%);
    text-align: center;
    transform: translate(-50%,-50%);

   & h1{
    @include heading(18px,$darkGrey,41px);
   }
}
}

}
/*=================================
  Banner styling ends here
=================================*/
