@import "default/mixin";
@import "default/variable";
/*=================================
  contact styling starts here
=================================*/
.contact {
  & {
    position: relative;
    color: $lightGrey;
  }
  & .wrapper {
    width: 100%;
    height: 745px;
    margin-bottom: 15px;
    align-items: center;
  }
  & .veggies {
    @include position-top(absolute, 1, 0, 0);
  }

  button {
    padding: 13px 30px;
    border: 1px solid #000;
    background-color: transparent;
    color: $lightGrey;
    font-size: 16px;
    font-weight: bolder;
  }

  h3 {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 900;
  }
  .form-h {
    margin-bottom: 13px;
  }

  a {
    color: $lightGrey;
  }

  textarea {
    height: 212px;
    @include input-styling;
    resize: none;
  }

  .send-button {
    margin-top: 30px;
    text-align: center;
  }
  .info {
    line-height: 23px;
  }
}

.contact-content {
  width: 36.5%;
  margin: 65px auto auto;
  @include flex-dir(column);
  @include position-top(absolute, 2, 0, 55%);
}

.contact-info-list {
  margin: 76px 0 56px;
  @include flex-justify(space-between);

  & li {
    width: 41%;
  }
}

.name-email {
  @include flex-justify(space-between);

  &-div {
    width: 47.5%;
  }
  input {
    @include input-styling;
  }
}

/*=================================
  contact styling ends here
=================================*/
