@import "default/mixin";
@import "default/variable";
/*=================================
  footer styling starts here
=================================*/
footer{
    &{
        width: 100%;
        margin: auto;
        @include position-top(absolute, 4, none, 0);
        color: $darkGrey;
    }

    & .wrapper{
        @include flex-justify(space-between);
        align-items: center;
        padding:36px 0;
        border-top: 2px solid #f0f8ff;
    }

    p{
        padding-left: 88px;
    }

}
.bootstrap{
    color: #228b51;
}


.facebook{
    padding: 6px 10px 3px;
    @include font-icon("\f39e");

}
.linkedin{
    padding: 6px 8px 3px;
    @include font-icon("\f0e1");

}
.made-with{
    color: $lightGrey;
    @include font-after("\f004");
    &::after{
        padding-left: 3px;
        color: #ff0000;
    }
}

.icon{
    border: 1px solid $darkGrey;
    & a{
        color: $lightGrey;
        font-size: 20px;
    }
}

/*=================================
  footer styling ends here
=================================*/