@import "default/mixin";
@import "default/variable";
/*=================================
  Header styling starts here
=================================*/
header {
width: 100%;
padding: 20px 0px;
@include position-top(absolute,3,0,0);
}

.nav-list {
  & {
     @include flex-justify(end);
    }

  & a {
    padding: 12px 13px;
    @include a-styling(#a7a7a7,17px,900);
  }
}
/*=================================
  Header styling ends here
=================================*/
