@import "default/mixin";
@import "default/variable";
/*=================================
  menu styling starts here
=================================*/
.menu {
  & {
    padding: 80px 0;
    color: $lightGrey;
  }

  &-name-list {
    margin: 70px auto 44px;
    @include flex-justify(center);

    & a {
      padding: 10px 17px;
      color: $lightGrey;
    }
  }
}

.main-menu-list {
  width: 100%;
  @include flex-gap(51px);
  flex-wrap: wrap;

  & li {
    width: 47.7%;
    display: flex;
    & .menu-div {
        width: 95%;
      @include flex-dir(column);
      gap: 2px;
    }
    & .dish-name {
      @include flex-gap(3px);
      font-size: 19px;
      @include font-after(" ");
      &::after {
        width: 47.4%;
        height: 17px;
        border-bottom: 2px dotted $lightGrey;
      }
    }
  }
}

.price{
    @include font-after("$");
    padding-top: 3px;
}
/*=================================
  menu styling ends here
=================================*/
