/*media query starts*/

/*=================================
  hover styling starts here
=================================*/
/*media query for hover starts here*/
@media only screen and (min-width: 996px) {
  .nav-list a:hover {
    @include hover(none);
    &:hover {
      border: 1px solid black;
    }
  }

  .menu-name-list a {
    @include hover(#000);
  }

  .contact button,
  .icon a {
    @include hover(none);
    &:hover {
      background-color: #fff;
    }
  }

  .bootstrap {
    @include hover(#ff0000);
  }
}
/*=================================
  hover styling ends here
=================================*/
/*media query for 995px starts here*/
@media only screen and (max-width: 1024px) {
.banner .wrapper {
  height: 116vh;
}
.main-menu-list li {
  width: 46.7%;
}
.dish-name::after {
  width: 32.4%;
}
.img-list li {
  width: 25%;
}

.contact{
& img {
  height: 165.5vh;
  object-fit: cover;
}
& .wrapper {
  height: 779px;
  }
&-info-list li {
    width: 45%;
}
}
}
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  .hamburger {
    padding-top: 0;
    display: flex;
    position: relative;
  }

  .hamburger {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
    transform: translateY(-6px);
  }

  .line {
    width: 25px;
    display: flex;
    line-height: 4px;
    text-indent: -9999px;
  }

  .line2-onclick {
    display: none;
    transition: all 1s;
  }

  .line1-onclick {
    transform: rotate(-45deg) translateX(-2px);
    transition: transform 1s;
  }

  .line3-onclick {
    transform: rotate(45deg) translateX(0px);
    transition: transform 1s;
  }

  .line::before {
    content: "";
    width: 17px;
    border-bottom: 3px solid $lightGrey;
    border-radius: 2px;
    display: inline-block;
  }

  .nav-list {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 10;
    top: 100%;
    right: 0%;
    color: $lightGrey;
    background-color: $darkGrey;
    font-size: 15px;
    gap: 20px;
    text-align: center;
    transform: translateX(-1000px);
    transition: all 1s;
  }

  .nav-list-onclick {
    transform: translateX(0px);
    transition: all 1s;
  }

  .nav-list-a-onclick {
    color: #f0f8ff;
    cursor: pointer;
    transition: all 1s;
  }
  .wrapper {
    width: 95%;
  }
.banner .wrapper{
  height: 112vh;
}

.turnip-green {
  padding: 65px 0;
  &-list {
    justify-content: center;
    flex-wrap: wrap;
    & li{
      width: 46%;
    }
  }
}
.specials {
  padding: 51px 0 37px;
}

.about-us {
  padding: 52px 0 77px;
}
.menu {
  padding: 58px 0;
}
.menu-name-list {
  margin: 36px auto 30px;
}
.main-menu-list li {
  width: 46.7%;
}
.dish-name::after {
  width: 36.4%;
}

.contact{
&-content {
  width: 49%;
  margin: 59px auto auto;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  text-align: center;
}

& .wrapper {
  height: 720px;
  margin-bottom: 0;
}

&-info-list li {
  width: 46%;
}
& img {
    height: 152vh;
    object-fit: cover;
  }

  & .send-button {
    margin-bottom: 100px;
  }
  
  &-info-list {
    margin: 46px 0 41px;
  }
}
 
  .img-list{
  margin: 44px auto;
  & li{
    width: 25%;
  }
}

.about-us p {
  padding-top: 40px;
}
}

/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {

  .banner{
    &-content {
      width: 57%;
          left: 50%;
          top: 50%;    
    }
    & .wrapper{
      height: 87vh;
    }
  }

.img-list li {
  width: 33.3%;
}
.main-menu-list li {
  width: 45.7%;
}
.dish-name::after {
  width: 13.4%;
}
.about-us .wrapper {
  flex-direction: column;
}
.about-us-left {
  width: 80%;
}
.contact-content {
  width: 61%;
}
}

/*media query for 640px starts here*/
@media only screen and (max-width: 640px) {
.banner .wrapper {
  height: 69vh;
}
.img-list li {
  width: 50%;
}
.main-menu-list li {
  width: 54.7%;
}
footer{
& p {
 padding-left: 0px; 
}
footer .wrapper {
  padding: 36px 32px;
}
}
}
/*media query for 480px starts here*/
@media only screen and (max-width: 480px) {

  .banner{
  &-content {
    width: 90%;
    left: 50%;
    top: 50%;
  }

  &-image img {
    height: 470px;
    object-fit: cover;
  }

  & .wrapper {
    height: 470px;
  }
}


  .turnip-green {
    &{
      padding: 50px 0;
    }

  &-list {
    gap: 30px;
  }
  // wrap
  &-list {
    flex-wrap: wrap;
    & li {
      width: 90%;
      margin: auto;
    }
  }
}
  .img-list {
    gap: 22px;
    margin: 50px auto;
    & li {
      width: 100%;
    }
  }

  .specials {
    &{
    padding: 44px 0 16px;
  }
  & .wrapper {
    width: 85%;
  }

}
  .heading-span {
    text-align: center;
  }
  
  .about-us {
    &{
      padding: 45px 0 71px;
    }
 
  & .wrapper {
    flex-direction: column;
    gap: 29px;
  }

  &-left {
    width: 100%;
  }

  & p {
    padding-top: 36px;
  }
  }


  .menu
  {
  &{
    padding: 47px 0;
  }

  &-name-list {
    width: 90%;
    margin: 36px auto 33px;
    flex-wrap: wrap;
  }

}

.main-menu-list li {
  width: 100%;
}

.dish-name::after {
  width: 32.4%;
}

.contact{
  & img {
    height: 200vh;
    object-fit: cover;
  }

  &-content {
    width: 85%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    text-align: center;
  }

  &-info-list {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  & h3 {
    margin-bottom: 8px;
  }

  &-info-list {
    margin: 38px 0 32px;
  }
  & .send-button {
    margin-bottom: 4px;
  }
}

  .name-email {
    flex-direction: column;
  }
  .name-email-div {
    width: 100%;
  }
  form {
    width: 75%;
    margin: auto;
  }
  .contact{
    & textarea {
      height: 138px;
    }
    & img {
      height: 173vh;
    }
    & {
      padding-top: 17px;
    }
    &-content {
      margin: auto;
    }
    & .wrapper {
      height: 738px;
    }
  }

  footer{
    & .wrapper {
      padding: 36px 41px;
      flex-direction: column;
      align-items: center;
      gap: 21px;
      text-align: center;
    }
  
    & p {
      padding-left: 0px;
    }
  
  }
}

/*media query for 375px starts here*/
@media only screen and (max-width: 375px) {
.dish-name {
  &{
  font-size: 18px;
  }
  &::after{
    width: 16%;
  }
}
.menu-name-list {
  margin: 19px auto 19px;
}
.main-menu-list {
  gap: 25px;
}

.contact{
    padding-top: 4px;

  &-info-list li {
    width: 63%;
  }
  
}

.about-us p {
  font-size: 27px;
}

}

/*media query for 320px starts here*/
@media only screen and (max-width: 320px) {
  .dish-name::after {
    width: 6%;
    height: 15px;
}
.dish-name {
  font-size: 17px;
}
.price {
   padding-top: 0; 
}

.about-us p {
  font-size: 25px;
}
footer .wrapper {
  padding: 36px 14px;
}
}