@import "mixin";
@import "variable";
/*for all*/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1920px;
  width: 86.7%;
  margin: 0 auto;
}

.all-caps , .single-caps::first-letter{
@include text-trans(uppercase);
}

.first-caps{
    @include text-trans(capitalize);
}
    
