@import "variable";

@mixin text-trans($value) {
  text-transform: $value;
}

@mixin flex-justify($value) {
  display: flex;
  justify-content: $value;
}

@mixin flex-align($value) {
  display: flex;
  align-items: $value;
}

@mixin a-styling($color, $fsize, $fwei) {
  color: $color;
  font-size: $fsize;
  font-weight: $fwei;
}

@mixin position-top($pos, $zIndex, $top, $left) {
  position: $pos;
  z-index: $zIndex;
  left: $left;
  top: $top;
}

@mixin height-obj {
  height: 100%;
  object-fit: cover;
}
@mixin heading-span {
  & {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .line-h {
    width: 257px;
    border-bottom: 2px solid #3f3c3c;
    @include font-icon(" ");
  }
}

@mixin heading($pad, $color, $fsize) {
  padding-bottom: $pad;
  color: $color;
  font-size: $fsize;
}

@mixin font-icon($value) {
  & {
    display: flex;
    text-indent: -9999px;
  }

  &::before {
    content: $value;
    font-family: "fontAwesome";
    display: flex;
    text-indent: 0;
  }
}

@mixin h2 {
  @include heading(3px, $lightGrey, 44px);
  font-weight: 900;
}

@mixin flex-gap($value) {
  display: flex;
  gap: $value;
}

@mixin flex-dir($dir) {
  display: flex;
  flex-direction: $dir;
}

@mixin font-after($value) {
    &::after{
      content: $value;
      font-family: "fontAwesome";
    }
  }
  
@mixin input-styling{
    width: 100%;
    padding: 10px 13px;
    border: none;
    border-bottom: 0.5px solid #f0f8ff;
    background-color: transparent;
    font-size: 17px;
  }

  @mixin hover($value){
    &:hover{
        color: $value;
        cursor: pointer;
        transition: all 1s;
    }

  }